.btn-primary {
  text-decoration: none;
  font-family: 'Open Sans', Helvetica, sans-serif;
  background-color:#1ddc88;
  color: white;
  border-radius: 15px;
  padding: 24px 32px;
  transition: 0.2s;
  margin-bottom: 0;
  font-size: 18px;
  width: 72px;
}

.btn-primary:hover {
  background-color:#6FEDB7;
  border-radius: 15px;
  color: #f4f4f4;
}

/* social media buttons */

.in-line {
    display: inline-block;
    text-decoration: none;
    list-style: none;
    padding: 0;
}

.in-line a {
    font-size: 32px;
    margin-right: 24px;
}
